<footer>
    <p class="links">
        <strong>
            <a href="index.html">Home</a>
        </strong>/
        <strong>
            <a href="connections.html">Connections</a>
        </strong>/
        <strong>
            <a href="about.html">About</a>
        </strong>/
        <strong>
            <a href="contact.html">Contact Us</a>
        </strong>
    </p>
    <p class="verification">
        <a href="https://validator.w3.org/check?uri=referer">Validate HTML</a> <br>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
    </p>
</footer>