<header>
    <nav>
        <!--logo is from this link: https://www.colma.ca.gov/event/colma-game-night-march-2020/ -->
        <a class="nav-home" href="/"><img class="nav-img" src="assets/images/logo.png" alt="Home page" /></a>
        <ul class="nav-ul">
            <li>
                <ul class="nav-ul upper">
                    <li class="nav-left">
                        <span class="nav-user"><% if(user) { %><%= user.user.first%> <%=user.user.last%> <%}%> </span>
                    </li>
                    <% if(!user) { %>     <!-- If the user is logged out, show this-->
                    <li class="nav-right">
                        <a class="nav-a" href="/login">Sign up</a>
                    </li>
                    <li class="nav-right">
                        <a class="nav-a" href="/login">Login</a>
                    </li>
                    <% } else { %>      <!-- If the user is logged in, show this-->
                    <li class="nav-right">
                        <a class="nav-a" href="/login/logout">Log out</a>
                    </li>
                    <li class="nav-right">
                        <a class="nav-a" href="/savedConnections">My connections</a> 
                    </li>
                    <% } %>
                    <li class="nav-right">
                        <a class="nav-a" href="/newConnection">Start a New Connection</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="nav-ul lower">
                    <li class="nav-left">
                        <a class="nav-a" href="/connections">Connections</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>