html {
    height: 100%;
    background-color: lightgrey;
    background: linear-gradient(135deg, rgb(231, 240, 233) 5%, rgb(234, 227, 220) 50%, rgb(208, 210, 213) 95%);
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction:column;
}
nav {
    background-color: #4B535D;
    border-radius: 0 0 20px 20px;
    width: 100%;
    flex: 1 0 auto;
}
.nav-ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.upper {
    border-bottom: 2px solid black;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right;
}
.nav-a, .nav-user{
    padding: 14px 16px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #FEF6EB;
}
.nav-a:hover {
    background-color: darkslategrey;
}
.nav-home {
    padding: 0 14px;
    margin: 0;
    height: 94px;
    float: left;
}
.nav-img {
    width: auto;
    height: 94px;
}
main {
    flex: 1 0 auto;
    margin: 0 8%;
    max-width: 1200px;

}
main > p {
    margin: 8px 12px;
}
footer {
    flex-shrink: 0;
    background-color: #4B535D;
    border-radius: 20px 20px 0 0;
    width: 100%;
    text-align: center;
}
footer a {
    text-align: center;
    color: #FEF6EB;
    text-decoration: none;
}
.outer-list, .inner-list {
    list-style-type: none;
}
.outer-list > li {
    font-size: 20pt;
}
.outer-list a, .outer-list a:visited {
    color: cornflowerblue;
}
.profile-picture {
    float: left;
    height: 100px;
}
.outer-flex {
    display: flex;
}
.inner-flex {
    flex: 1 0 auto;
}
.going-form {
    padding: 3px 12px;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 16px;
}
.going-form:hover {
    background-color: darkgrey !important;
    color: black;
    cursor: pointer;
}
#going-yes {
    background-color: green;
}
#going-no {
    background-color: red;
}
#going-maybe {
    background-color: blue;
}
table, td, th{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
td button {
    padding: 3px 8px;
    margin: 0 8px;
    background-color: #4B535D;
    color: white;
    border: none;
    border-radius: 3px;
}
td button:hover {
    cursor: pointer;
    background-color: #202020;
}