<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main>
        <h1>About Game Night</h1>
        <p>
            This website is used to coordinate events for UNCC's Game Night. You can create your own event or you can join another that you see posted.
            Each event will have a certain location on campus to hold the fun and should usually have a duration that the games are played over, as long as everyone is having fun.
        </p>
        <p>
            There are also events held by the Game Night club directly that are a bunch of games and activities over a large portion of the day. You're welcome to come at any time
            during these events, but please mark if you are planning on coming at any point so we know how many give-aways we can do!
        </p>
    </main>

    <%- include('partials/footer') %>

</body>
</html>