<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main class="outer-flex">
        <div class="inner-flex">
            <h1>Scrabble</h1>
            <p>
                <img class="profile-picture" src="images/profile-picture.png" alt="profile picture">
                Hosted by *Host*<br />
                *Date*<br />
                *Time*<br />
                *Location*<br />
            </p>
            <br />
            <h2>Details</h2>
            <p>
                *Details from event posting*
            </p>
        </div>
        <div class="inner-flex">
            <h3>
                Are you going?
            </h3>
            <br />
            <form action="savedConnections.html" method="get">
                <button class="going-form" type="submit" id="going-yes">Yes</button>
                <button class="going-form" type="submit" id="going-no">No</button>
                <button class="going-form" type="submit" id="going-maybe">Maybe</button>
            </form>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>