<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main>
        <ul class="outer-list">
            <li>
                Board Games
                <ul class="inner-list">
                    <li>
                        <a href="connection.html">Scrabble - Friday, February 7th 6:30pm</a>
                    </li>
                    <li>
                        <a href="connection.html">Monopoly - Thursday, February 6th 6:30pm</a>
                    </li>
                    <li>
                        <a href="connection.html">The Game of Life - Wednesday, February 5th 6:30pm</a>
                    </li>
                </ul>
            </li>
            <li>
                Card Games
                <ul class="inner-list">
                    <li>
                        <a href="connection.html">Poker - Friday, February 7th 5:00pm</a>
                    </li>
                    <li>
                        <a href="connection.html">Black Jack - Thursday, February 6th 5:00pm</a>
                    </li>
                    <li>
                        <a href="connection.html">Apples to Apples - Wednesday, February 5th 5:00pm</a>
                    </li>
                </ul>
            </li>
        </ul>
    </main>

    <%- include('partials/footer') %>

</body>
</html>