<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main>
        To be completed
    </main>

    <%- include('partials/footer') %>

</body>
</html>