<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main>
        <h1>Contact Us</h1>
        <p>
            You can contact us for any information about the official Game Night events or if you'd like to rent any board or card games for your event. <br>
            If there are any concerns over fake or dangerous event postings, please send an email with as much information as you have to the official game night email address.
        </p>
        <table id='contact'>
            <tr>
                <th>Ryan (president)</th>
                <td>rcolli27@uncc.edu</td>
            </tr>
            <tr>
                <th>John (vice-president)</th>
                <td>jdeere46@uncc.edu</td>
            </tr>
            <tr>
                <th>Event concerns</th>
                <td>gamenight@uncc.edu</td>
            </tr>
        </table>
    </main>

    <%- include('partials/footer') %>

</body>
</html>