<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main>
        <h1>Game Night</h1>
        <p>
            What is Game Night!? Check <em><a class="inline-link" href="/connections">connections</a></em> above to see! Create new events or check-in for events that
            have already been created. Some of these events will be first come, first serve so don't wait too long! If you don't see a game you like, there are different
            board and card games each week or you could try and get your own game started.

            If you have any questions, check out the <em><a class="inline-link" href="/about">about</a></em> and <em><a class="inline-link" href="/contact">contact us</a></em>
            pages at the bottom.
        </p>
    </main>

    <%- include('partials/footer') %>

</body>
</html>