<!-- Include header and Nav partials -->
<%- include('partials/header') %>
    <body>
        <%- include('partials/nav') %>
        <main>
            <h1>Welcome to Game Night!</h1>
            <p>Please enter your username and password to sign in.</p>

            <% if(errors) { %>
                <p><% for (let err of errors) { %>
                    <%= err %> <br>
                <% }  %>
                </p>
                <% } %>

            <form method="post" action="/login">
                <label for="username">Username</label>
                <input type="text" id="username" required placeholder="username" name="username" />

                <br />

                <label for="password">Password</label>
                <input type="password" id="password" required placeholder="password" name="password" />

                <br />

                <button type="submit">Log in</button>
            </form>
        </main>

        <%- include('partials/footer') %>

    </body>
</html>